* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
  /* overflow: hidden; */
}

.overflowScroll {
  height: 100%;
}

.overflowScroll::-webkit-scrollbar {
  width: 0;
}

.footer {
  position: fixed;
  bottom: 20px;
}

.homePage {
  min-height: calc(100vh - 112px);
}

input {
  border: none;
}

input:focus {
  border: none;
}

input:focus-visible {
  border: none;
  outline: none;
}

.tags {
  background: linear-gradient(213.85deg, rgb(47, 47, 47) 6.93%, rgb(81, 43, 49) 44.92%, rgb(81, 43, 49) 68.16%, rgb(227, 24, 55) 93.02%);
}

aside {
  min-width: 280px;
  border-radius: 0 50px 50px 0;
  background: linear-gradient(202deg, rgb(47, 47, 47) 46.5%, rgba(70, 7, 17, 0.82) 79.71%, rgba(227, 24, 55, 0.6) 100.55%);
}